source ~/.vimrc

nnoremap <Space>e :action RecentFiles<CR>
nnoremap <Space>ff :action SearchEverywhere<CR>
nnoremap <Space>gc :action ShowUsages<CR>
nnoremap <Leader>gs :action VersionControlsGroup<CR>
nnoremap <Leader>gb :action Annotate<CR>
nnoremap <F2> :action ActivateTerminalToolWindow<CR>
nnoremap <C-r> :action Run<CR>
nnoremap <C-e> :action Debug<CR>
nnoremap == :action ReformatCode<CR>
